# Python files
__pycache__/
*.pyc

# Logs
*.json
logs/

# IDE
.vscode/
.idea

paper/*
paper/**/*
!paper/*.tex
!paper/*.cls
!paper/*.bib
!paper/*Matter
!paper/Graphics
!paper/Graphics/*
!paper/**/*.tex

wpaper/**/*
!wpaper/**/*.tex

bib
config.py
tests/test.txt
results
*.gif
**/scaled
