# Python files
__pycache__/
*.pyc

# Logs
*.json
logs/

# IDE
.vscode/
.idea

paper/**/*[log, out, aux, gz, cls, brf, lof]
wpaper/**/*[log, out, aux, gz, cls, brf, lof]

bib
config.py
discussion.txt
tests/test.txt
results
*.gif